<link rel="stylesheet" href="arquivos/produtos.css">
<div class="card">
                <div class="content-produto">
                    <div class="card-image"><img src="{{produto.image}}"></div>
                    <div class="card-body">
                        <div class="card-title">
                            <h2>{{produto.nome}}</h2>
                        </div>
                        <div class="card-desc">
                            <p>{{produto.descricao}}</p>
                        </div>
                        <div class="card-price">
                            <p>R${{produto.preco}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <form action="/remove/{{produto._id}}" method="POST">
                <button type="submit">Excluir</button>
            </form>